@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
  padding: 0;
  margin: 0;

}

#root {
  margin: 0;
  padding: 0;
  font-family: "Sour Gummy", sans-serif;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100vw;
  min-height: 100vh;
  height: auto;



}

.bg-normal {
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89253e, #3a6186);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-blackout {
  background: #152331;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #152331);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #152331);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}